<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.asknanterre">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
            tools:replace="android:launchMode"
            android:launchMode="standard" />
        <activity android:name=".DisplayQuiz"/>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".AddQuestion"/>
        <activity android:name=".DisplayQuestion"/>
        <activity android:name=".AddCours"/>
        <activity android:name=".DisplayCours"/>
        <activity android:name=".AddUser"/>
        <activity android:name=".HomeActivity"/>
        <activity android:name=".ConnectionActivity"/>
        <activity android:name=".SendFeedBack" />

        <activity android:name=".AnswerQuestion" />
        <activity android:name=".DisplayAnswerQuestion" />
        <activity android:name=".ProfessorUI" />
        <activity android:name=".StudentUI" />
        <activity android:name=".DisplayQuestionProf" />
        <activity android:name=".DisplayQuestionStud" />
        <activity android:name=".AddQCM" />
        <activity android:name=".AddQuiz" />
        <activity android:name=".AddAnswer" />
        <activity android:name=".ModifyAnswer" />
        <activity android:name=".AddAnswer2" />
        <activity android:name=".DisplayAnswer" />
        <activity android:name=".DisplayAnswerQuiz"/>
        <activity android:name=".StudentUI3"/>
        <activity android:name=".StudentUI2" />
        <activity android:name=".DisplayQuizProf" />
        <activity android:name=".DisplayCoursProf"/>
        <activity android:name=".ProfessorUI2"/>
    </application>

</manifest>