<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asknanterre">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DisplayQuizz"/>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="message/rfc822" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddQuestion" />
        <activity android:name=".DisplayQuestion" />
        <activity android:name=".AddUser" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ConnectionActivity" />
        <activity android:name=".SendFeedBack" />

        <meta-data
            android:name="VERSION"
            android:value="12" />

        <activity android:name=".AnswerQuestion" />
        <activity android:name=".DisplayAnswerQuestion" />
        <activity android:name=".ProfessorUI" />
        <activity android:name=".StudentUI" />
        <activity android:name=".DisplayQuestionProf" />
        <activity android:name=".DisplayQuestionStud" />
        <activity android:name=".AddQCM" />
        <activity android:name=".AddQuiz" />
        <activity android:name=".AddAnswer" />
        <activity android:name=".ModifyAnswer" />
        <activity android:name=".AddAnswer2" />
        <activity android:name=".DisplayAnswer" />
        <activity android:name=".DisplayAnswerQuiz" />
        <activity android:name=".StudentUI2" />
    </application>

</manifest>