<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.asknanterre">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddQuizApercu" android:theme="@style/DetailTheme"></activity>
        <activity android:name=".AddQuestionApercu" android:theme="@style/DetailTheme"/>
        <activity android:name=".AddQCMApercu" android:theme="@style/DetailTheme"/>
        <activity android:name=".AddCoursApercu" android:theme="@style/DetailTheme"/>
        <activity
            android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
            android:launchMode="standard"
            tools:replace="android:launchMode" />
        <activity android:name=".DisplayQuiz" android:theme="@style/DetailTheme"/>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddQuestion" android:theme="@style/DetailTheme"/>
        <activity android:name=".DisplayQuestion" android:theme="@style/DetailTheme"/>
        <activity android:name=".AddCours" android:theme="@style/DetailTheme"/>
        <activity android:name=".DisplayCours" android:theme="@style/DetailTheme" />
        <activity android:name=".AddUser" android:theme="@style/DetailTheme"/>
        <activity android:name=".HomeActivity" android:theme="@style/DetailTheme"/>
        <activity android:name=".ConnectionActivity" android:theme="@style/DetailTheme"/>
        <activity android:name=".SendFeedBack" />
        <activity android:name=".AnswerQuestion" />
        <activity android:name=".DisplayAnswerQuestion" />
        <activity android:name=".ProfessorUI" />
        <activity android:name=".StudentUI" />
        <activity android:name=".DisplayQuestionProf" android:theme="@style/DetailTheme"/>
        <activity android:name=".DisplayQuestionStud" android:theme="@style/DetailTheme" />
        <activity android:name=".AddQCM" android:theme="@style/DetailTheme"/>
        <activity android:name=".AddQuiz" android:theme="@style/DetailTheme"/>
        <activity android:name=".AddAnswer" android:theme="@style/DetailTheme"/>
        <activity android:name=".ModifyAnswer" android:theme="@style/DetailTheme" />
        <activity android:name=".AddAnswer2" android:theme="@style/DetailTheme"/>
        <activity android:name=".DisplayAnswer" android:theme="@style/DetailTheme"/>
        <activity android:name=".DisplayAnswerQuiz" android:theme="@style/DetailTheme"/>
        <activity android:name=".StudentUI3" />
        <activity android:name=".StudentUI2" />
        <activity android:name=".DisplayQuizProf" android:theme="@style/DetailTheme"/>
        <activity android:name=".DisplayCoursProf" android:theme="@style/DetailTheme"/>
        <activity android:name=".ProfessorUI2" />
        <activity android:name=".DisplayAnswerQuizProf" android:theme="@style/DetailTheme"/>
    </application>

</manifest>